body {display:block;position:relative;width:100%;height:100%;margin:0;background:#24292e;color:white;
  font-family: NotoSans,Arial,"Arial Unicode MS",sans-serif;font-size:12px;}
h1{margin:0}
div.mainbar{display:block;position:absolute;bottom:0;width:100%;background:rgba(55,55,55,.87)}
.mainbar a, .mainbar span{display:block;float:left}
div.mainbar a{cursor:pointer;padding:.3em 1em;background:rgba(180,180,180,.3);}
div.mainbar a:hover{background:rgba(255,255,255,.3)}
div.mainbar a.aiologo{background:rgba(0,0,0,.3);height:100%;}
div.mainbar span.searchbar{height:90%;width:30%;height:1em;padding:.45em;background:rgba(255,255,255,.6);color:black}
textarea{display:block;margin:0;border:0;background:transparent;width:100%}
div.appinfo{display:block;position:relative;width:100%;height:20%;}
a.applogo{display:block;position:absolute;top:2em;left:5em;width:4em;height:4em}
.appinfo i{display:inline-block;float:right;width:80%}
div.appname{display:block;width:65%;padding:.6em 7em .6em 0; font-size:2.3em}
div.passing{display:block;width:80%;float:right;margin-left:12em;}
