body {display:block;position:relative;width:100%;height:100%;margin:0;background:#24292e;color:white;
  font-family: NotoSans,Arial,"Arial Unicode MS",sans-serif;font-size:12px;}
h1{margin:0}
div.hide{display:none !important}
div.container{display:block;width:100%;height:100%;}
div.mainbar{display:block;position:absolute;bottom:0;width:100%;background:rgba(55,55,55,.87)}
.mainbar a, .mainbar span{display:block;float:left}
div.mainbar a{cursor:pointer;padding:.3em 1em;background:rgba(180,180,180,.3);height:1.3em;color:white;text-decoration:none}
div.mainbar a:hover{background:rgba(255,255,255,.3)}
div.mainbar a.aiologo{background:rgba(0,0,0,.3);height:100%;}
div.mainbar span.searchbar{height:90%;width:30%;height:1em;padding:.45em;background:rgba(255,255,255,.6);color:black}
div.aiostyle, div.aiomenu{position:absolute; bottom:1.9em;background: rgba(8,8,8,.9);border-radius: 10px;}
div.aiostyle a, div.aiomenu a{display:inline-block;width:80%;float:right}
div.aiostyle span, div.aiomenu span{position:absolute;left:0;padding;0 1.2em;}
div.aiostyle{right:2.3em}
textarea{display:block;margin:0;border:0;background:transparent;width:100%}
div.appinfo{display:block;position:relative;width:100%;height:20%;max-height:9em;text-shadow: 0 0 .06em black;color:orangered;padding:2.3% 0;box-shadow:0 0 .6em black}
div.appinfo{background-image:url('https://img5.goodfon.com/wallpaper/nbig/0/b6/sinii-seryi-metallik-material-design-linii-background.jpg');background-size:100% 100%;}
a.applogo{display:block;position:absolute;top:25%;left:6%;width:5em;height:5em}
a.applogo{background-image:url('https://raw.githubusercontent.com/andryeltj/aio/master/store/aio-store.svg');background-size:100% auto}
.appinfo i{display:inline-block;float:right;width:70%;margin-right:10%;color: black;font-family:Titillium web;text-shadow: white 1pt 0 5pt;font-weight: bolder;background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.37) 31%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.37) 31%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.37) 31%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */}
.ckrecipe{position: absolute;right: 1.5em;bottom: 5em;padding: .6em;box-shadow: black 0 0 1pt;cursor: pointer;}
div.appinfo button.seta{position:absolute;right:1em;bottom:1em;width:9em !important;height:2em;background:transparent;border:none;padding:.5em 2em;border-radius: 0;box-shadow: 0 0 5em white;}
div.appname{display:block;width:65%;margin-top:1%;padding:.6% 18% .6% 0; font-size:2.3em;float:right;background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.37) 31%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.37) 31%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.37) 31%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */}
div.passing{display:block;width:80%;float:right}
div.appinfo div.pdthumbs{display:block;position:absolute;top:1em;right:1em;width:23.2em;height:3em;padding:.3em .09em;background:rgba(0,0,0,0.15);box-shadow: 0 0 5em white;border-radius:10px}
div.appinfo div.pdthumbs img{float: left;width: 2em;margin-top: .5em;}
div.appinfo div.pdthumbs a{display:block;float:left;width:5em;height:3em;box-shadow:0 0 .1em black;margin-right:.3em;background-size: 100% 100%;}
div.book,div.list,div.newspaper{display:none;width:100%;height:97%;overflow:auto}
div.book li{display:inline-block;width:100%}
div.book li a{width:8.33%;box-shadow:0 0 1px aliceblue inset}
div.book li a:hover{overflow:auto}
div.book li a,div.list li a{display:inline-block;float:left;overflow:hidden;text-align:center;}
div.list li:hover{background:rgba(180,180,180,.3)}
div.list li a:nth-child(1){width:12em;text-align:center}
div.list li a:nth-child(2){float:right;padding-right:2em}
article{display:inline-block;position:relative;width:94%;height:73%;padding:.6em 3%;overflow-y:auto}
div.pkg_disp{display:inline-block;float:left;width:128px;height:158px;position:relative;margin-right:.7em;background:red;box-shadow:#000 0 0 .3em;border-radius:38% 10% 10% 10%;margin-bottom:3.3em;}
div.pkg_disp a{display:inline-block;width:90%;margin:0 5%;color:#EEE;font-family:'Titillium Web', sans-serif;position:absolute;bottom:2.4em;text-shadow:#000 0 0 .6em;font-weight: bolder;height: 2em;word-wrap: break-word;font-size: 1.2em;line-height: 1em;background:radial-gradient(circle, rgba(109,109,109,0.16341224083533656) 0%, rgba(0,0,0,0) 100%);}
div.pkg_disp span{display:none;width:128;height:2em;position:absolute;bottom:-2em;}
button.app{display:block;width:128px;height:164px;border-radius:38% 10% 10% 10%;border:0;box-shadow:0 0 1px #111 inset}
button.add, button.del{width:100%;height:32px;font-size:1em;padding:0;border:0;color:white;border-radius:0 0 1em 1em;}
button.add,.add{background:forestgreen !important} button.del,.del{background:#0267ca !important}button.del:hover,.del:hover{background:darkorange !important}
div.menu{display:inline-block;width:84%;float:left;padding: 0 0 2em 0;}
div.news{display:inline-block;width:19%;float:left;margin-right:-14%;margin-top:-.7em;background: rgba(180,180,180,.3);}
button.thumb{display:inline-block;position:relative;width:88%;height:11em;margin:0 .3em 3.5em 5%; box-shadow:#222 0 0 .3em;font-size: 11px;border: none;border-radius: 12px;}
div.weekvideos{margin-top:1em}
div.weekvideos button:link{color:#1988ff}
div.weekvideos button span{position:absolute;bottom:-3em;display:inline-block;width: 100%;left: 0;color:#fe7a15 !important; text-shadow:black 0 0 2pt}
div.articles{border-top: 1px solid rgba(180,180,180,.3);margin-top: .5em;}
div.articles h3{padding-left: .5em;color: #1988ff;font-size: 1.2em;font-family: Titillium web;margin: .3em;}
div.articles a{display:inline-block;color:white;font-size:1.2em;width:100%;margin-top:.3em;background:#1988ff;text-align:center;text-decoration:none;padding:.5em 0;font-weight: bold;font-family: Titillium web;}
div.mural{display:none;position: absolute;top: 24.4%;width: 100%;height: 75%;background: rgba(0,0,0,.7);left: 0;}
div.mural div.imgview{display:block;width:70%;float:left}
div.mural div.imgview div.exhib{display:block;width:70%;height:25em;background:rgba(0,0,0,.6);box-shadow:0 0 .1em black;margin-top:3%;background-size:auto 100%;background-repeat: no-repeat;background-position: center;}
div.mural div.imgview div.rule{display:block;width:100%;height:20%;max-height:12em;padding:.3em .09em;background:rgba(0,0,0,.4);margin-top:3%;text-align:center;}
div.rule a{display:inline-block;float:left;width:17.5%;height:54.4%;padding-top:6%;box-shadow:0 0 .5em white;margin-right:.3em;background:transparent;background-size: 100% 100%;margin-left:1.5%;}
div.mural div.fullinfo{display:block;position:relative;width:30%;float:left}
a.xview{display:block;position:absolute;top:0;right:0;color:white;cursor:pointer;padding:1em;height:1em;width:.5em;font-size: 1.6em;}
a.xview:hover{background:rgba(255,255,255,.3);color:black}
a.x:target{background:white;color:red}
i.infoqtd{float:right}
