body {display:block;position:relative;width:100%;height:100%;margin:0;background:#24292e;color:white;font-family: NotoSans,Arial,"Arial Unicode MS",sans-serif;font-size:.7em;/*-webkit-transform: scale(.8);*/}
h1{margin:0}
div.hide,button.hide{display:none !important}
div.container{display:block;width:100%;height:100%;background-image: url('https://img5.goodfon.com/wallpaper/nbig/0/b6/sinii-seryi-metallik-material-design-linii-background.jpg');background-size: 100%;}
div.backy{position: absolute;width: 100%;height: 100%;display: block;background: url('https://web.whatsapp.com/img/bg-chat-tile-dark_a4be512e7195b6b733d9110b408f075d.png');opacity: 0.06;}
div.searchbar{position:absolute;top:3.3%;left:50%;width:30em;height:1.2em;text-shadow:none;color:black}
div.searchbar span.searchbar{width:97%;height:.9em;padding:.45em;background:rgba(255,255,255,.6);border-radius:1em}
div.searchbar a.x{position:absolute;top:0;right:-.15em;background:rgba(84,84,84,.3);color:black;border-radius:0 .6em .6em 0;text-shadow:0 0 .06em white;background-repeat:no-repeat !important}
div.mainbar{display:block;position:absolute;bottom:0;width:100%;background:rgba(55,55,55,.87)}
div.searchbar a, div.searchbar span,.mainbar a, .mainbar span{display:block;float:left;text-align:center}
div.mainbar a, div.searchbar a{cursor:pointer;padding:.45em 1em;background:rgba(180,180,180,.3);height:1.5em;color:white;text-decoration:none}
div.mainbar a:hover,div.searchbar a:hover{background:rgba(232,232,232,.3)}
div.searchbar a:hover{color:black}
div.mainbar a.aiologo{background:rgba(0,0,0,.3);height:100%;}
div.aiostyle, div.aiomenu{position:absolute;display:none; bottom:1.9em;background: rgba(8,8,8,.9);border-radius: 10px;}
div.aiostyle a, div.aiomenu a{display:inline-block;width:80%;float:right}
div.aiostyle span, div.aiomenu span{position:absolute;left:0;padding:0 1em;}
div.aiostyle{right:2.3em;width:285px}
textarea{display:block;margin:0;border:0;background:transparent;width:100%}
div.appinfo{display:block;position:relative;width:100%;height:20%;max-height:8em;text-shadow: 0 0 .06em black;color:orangered;padding:.6% 0;box-shadow:0 0 .6em black;border-bottom: 1px solid rgba(0,0,0,0.3);}
div.appinfo{background-image:url('https://i.redd.it/gq3j7y6wzxk51.png');background-size:100%;}
a.applogo{display:block;position:absolute;top:25%;left:6%;width:5em;height:5em}
a.applogo{background-image:url('https://raw.githubusercontent.com/andryeltj/aio/master/store/aio-store.svg');background-size:100% auto;background-repeat: no-repeat;background-position: center;}
div.appinfo i{display:block;float:left;width:70%;margin:-1.2% 0 0 17%;color: black;font-family:Titillium web;text-shadow: white 1pt 0 5pt;font-size:unset;}
.ckrecipe{position: absolute;right:26.5em;top:1.6em;padding:1.3em;cursor: pointer;}
div.appinfo a.seta,div.appinfo a.openapp,div.appinfo a.updtapp{position:absolute;display:inline-block; right:1em;bottom:1em;width:5em !important;background:transparent;border:none;padding:.5em 2em;border-radius: 0;box-shadow: 0 0 5em white;font-size:1em;text-align:center;text-decoration: none;}
div.appinfo a.updtapp{right:130px;color:white;background:#1988ff}
div.appinfo a.openapp{right:248px;color:white;background:#1988ff}
div.appname{display:block;width:60%;margin:1.9% 0 0 11%;padding:0% 18% 0.6% 4%; font-size:2.3em;float:left;}
div.appname, div.appinfo i{background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.37) 31%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.37) 31%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.37) 31%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
div.passing{display:block;width:4em;float:left;margin:-.5% 0 0 15%;height:1em}
div.iteminfo{display:none;position:absolute;top:0;right:0;height:100%;width:23.2em;}
div.iteminfo div.pdthumbs{display:block;position:absolute;top:1em;right:1em;width:23.2em;height:3em;padding:.3em .09em;background:rgba(0,0,0,0.15);box-shadow: 0 0 5em white;border-radius:10px}
div.iteminfo div.pdthumbs img{float: left;width: 2em;margin-top: .5em;}
div.iteminfo div.pdthumbs a{display:block;float:left;width:5em;height:3em;box-shadow:0 0 .1em black;margin-right:.3em;background-size: 100% 100%;}
div.book,div.list,div.newspaper{display:none;width:100%;height:97%;overflow:auto}
div.book li{display:inline-block;width:100%}
div.book li a{width:8.33%;box-shadow:0 0 1px aliceblue inset}
div.book li a:hover{overflow:auto}
div.book li a,div.list li a{display:inline-block;float:left;overflow:hidden;text-align:center;}
div.list li:hover{background:rgba(180,180,180,.3)}
div.list li a:nth-child(1){width:12em;text-align:center}
div.list li a:nth-child(2){float:right;padding-right:2em}
article{display:inline-block;position:relative;width:94%;height:82.9%;padding:.6em 3%;overflow-y:auto}
div.pkg_disp{display:inline-block;float:left;width:10.2em;height:12.6em;moz-width:128px;moz-height:158px;position:relative;margin-right:.7em;background:red;box-shadow:#000 0 0 .3em;border-radius:38% 10% 10% 10%;margin-bottom:3.3em;}
div.pkg_disp a{display:inline-block;width:90%;margin:0 5%;color:#EEE;font-family:'Titillium Web', sans-serif;position:absolute;left:0;bottom:2em;text-shadow:#000 0 0 .6em;font-weight:unset;height: 2em;word-wrap: break-word;font-size: 1.15em;line-height: 1em;background:radial-gradient(circle, rgba(109,109,109,0.16341224083533656) 0%, rgba(0,0,0,0) 100%);}
div.pkg_disp span{display:block;width:1.2em;height:1.2em;position:absolute;top:-0.3em;right:-0.3em;}
button.app{display:block ruby;width:100%;height:100%;border-radius:38% 10% 10% 10%;border:0;box-shadow:0 0 1px #111 inset}
a.add, a.del{width:100%;font-size:1em;padding:0;border:0;color:white;border-radius:0 0 1em 1em;}
a.add,.add,.onsys{background:forestgreen !important} a.del,.del{background:#71e10f !important}a.del:hover,.del:hover{background:darkorange !important}
div.onsys{background:blueviolet !important;width: 1.2em;height: 1.2em;border-radius: 50%;border: 2px solid rgba(255,255,255,.7);}
div.menu{display:inline-block;width:84%;float:left;padding: 0 0 2em 0;margin-top:3.6em}
div.outer{position:absolute;top:16%;left:2%;width:78%;height:2.5em;display:block;padding-bottom:.5em;border-bottom: 1px solid rgba(180,180,180,.3);margin-bottom: 1em;overflow:hidden}
div.categories{display:block;min-width:512px;height:30px}
div.categories a{display:inline-block;padding:.6em 1em;border-radius:10px;margin-right:6px;rgba(112, 112, 112, 0.75);text-shadow: 0 0 1px #000;cursor:pointer;color: white;border: 1pt solid rgba(255,255,255,.2);background:rgba(38,38,38,.9)}
div.categories a:hover{background:linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(5,55,255,0.30) 50%,rgba(25,15,215,0.9) 75%,rgba(255,255,255,0.37) 90%,rgba(125,185,232,0) 100%);}
div.news{display:inline-block;width:19%;float:left;margin-right:-14%;margin-top:-.7em;background: rgba(180,180,180,.3);}
button.thumb{display:inline-block;position:relative;width:88%;height:11em;margin:0 .3em 3.5em 5%; box-shadow:#222 0 0 .3em;font-size: 11px;border: none;border-radius: 12px;}
div.weekvideos{margin-top:1em}
div.weekvideos button:link{color:#1988ff}
div.weekvideos button span{position:absolute;top:104%;display:inline-block;width: 100%;left: 0;color:#fe7a15 !important; text-shadow:black 0 0 2pt;font-weight: bold;font-family: 'Titillium Web', sans-serif;font-size: 1.3em;line-height: 1em;}
div.articles{border-top: 1px solid rgba(180,180,180,.3);margin-top: .5em;}
div.articles h3{padding-left: .5em;color: #1988ff;font-size: 1.2em;font-family: Titillium web;margin: .3em;}
div.articles a{display:inline-block;color:white;font-size:1.2em;width:100%;margin-top:.3em;background:#1988ff;text-align:center;text-decoration:none;padding:.5em 0;font-weight: bold;font-family: Titillium web;}
div.mural{display:none;position: absolute;top: 24.4%;width: 100%;height: 75%;background: rgba(0,0,0,.7);left: 0;}
div.mural div.imgview{display:block;width:70%;float:left}
div.mural div.imgview div.exhib{display:block;width:70%;height:25em;background:rgba(0,0,0,.6);box-shadow:0 0 .1em black;margin-top:3%;background-size:auto 100%;background-repeat: no-repeat;background-position: center;}
div.mural div.imgview div.rule{display:block;width:100%;height:20%;max-height:12em;padding:.3em .09em;background:rgba(0,0,0,.4);margin-top:3%;text-align:center;}
div.rule a{display:inline-block;float:left;width:17.5%;height:54.4%;padding-top:6%;box-shadow:0 0 .5em white;margin-right:.3em;background:transparent;background-size: 100% 100%;margin-left:1.5%;}
div.mural div.fullinfo{display:block;position:relative;width:30%;float:left}
a.xview{display:block;position:absolute;top:0;right:0;color:white;cursor:pointer;padding:1em;height:1em;width:.5em;font-size: 1.6em;}
a.xview:hover{background:rgba(255,255,255,.3);color:black}
a.x:target{background:white;color:red}
i.infoqtd{float:right;padding: .4em .4em .4em 0}
div.cl1,div.qd1{border-radius:50%;height:128px;margin-bottom:5.8em}
div.cl1 button,div.qd1 button{border-radius:50%;height:128px;}
div.cl1 a.nameapp, div.qd1 a{bottom:-2.5em}
div.cl1 span {right:1.2em}
div.cl1 span div.onsys {width: 2em; height: 2em;}
div.qd1{background-size:100% auto !important}
div.qd1,div.qd1 button{width:168px;border-radius:12px}
div.qd1 button{background-size:40% auto !important;background-position-x: 2em !important;}
div.listv{width: 98%;height: 128px;border-radius:12px 0 0 12px;background-position-x: 0 !important;background-size: 128px 128px !important;margin-bottom:.6em;float:none}
div.listv a.nameapp{margin:0 12px;bottom:none;top:.17em;left: 128px;font-size: x-large;}
div.listv button.app{width: 100%;height: 128px;border-radius: 12px;background-size: 5em !important;background-position-x: 2.2em !important;}
div.appinfo.listv{width: 20%;height: 100%;float: left;display: block !important;padding: 0px;max-height: unset;background-size: auto 100% !important;margin:0}
div.appinfo.listv div.searchbar{width:97%}
div.appinfo.listv div.appname{margin-top: 5em;word-break: break-word;width: 99%;margin-left: .5%;padding: 0;text-align: center;}
div.appinfo.listv a.applogo{top: 4em;left: 41%;}
div.appinfo.listv i{margin: 0 1em;display: block;width: 90%;}
div.appinfo.listv div.passing{margin: 1em 3%;text-align: center;font-size: 2em;width: 94%;}
div.appinfo.listv div.iteminfo{display: block;top: unset;bottom: 2.3em;height: 256px;}
div.appinfo.listv div.iteminfo button.seta{display:none}
div.appinfo.listv div.iteminfo div.pdthumbs{width: 101%;right:1px;top:unset;bottom:.5em;box-shadow:0 0 7px white;}
article.listv{width: 79%;float: left;height: 100%;margin: 0 0 0 1%;padding: 0;}
article.listv div.menu{width:80%}
.piebase,.circle {width: 100px;height: 100px;display: block;border-radius: 50%;}
.piebase{border: 5px solid rgba(0,0,0,.3);position:relative;margin-left: -24;margin-top: -23;}
.circle {border: 5px solid orangered;position:absolute;clip:rect(0px, 55px, 22px,53px);margin-top: -5px;margin-left: -5px;}
@-moz-document url-prefix(){
  body{font-size:12px;}
  div.pkg_disp{width:11.5em;height:14.1em;}
  div.pkg_disp a {font-weight:bolder;font-size:1.2em;bottom:2.4em}
  div.pkg_disp i {font-size:1.2em}
  appinfo{max-height:9em}
  div.outer{top:15%;font-size: 1.15em;}
  article{height:83.9%}
  div.menu{top:4em}
  div.searchbar span.searchbar{height:1.5em;}
}
